.search-input {
    position: relative;
    top: -60px;
    left: 172px;
    border-radius: 10px;
    text-align: center;
    background-color: #e9eef6;
    border: none;
    height: 2.5rem;
    width: 30rem;
    border-radius: 22px;
}

.filter-isRead {
    position: relative;
    width: 10px;
    height: 12px;
    top: -37px;
    left: 18px;
}

.search-icon {
    position: relative;
    z-index: 1;
    top: -54px;
    left: 251px;
}