.mail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.mail:hover {
    box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.unread-dot {
    color: #0b57d0;
    font-size: 12px;
    margin-right: 10px;
}

.mail-from {
    font-weight: bold;
    flex-shrink: 0;
    width: 220px;
    padding-right: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-subject {
    flex-grow: 1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-btn {
    /* margin-right: 50rem; */
}