.mail {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
    cursor: pointer;
}

.mail:hover {
    box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.mail:hover .delete-btn {
    display: block;
    margin: 0;
}

.mail:hover .unread-btn {
    display: block;
    margin: 0;
}

.mail:hover .mail-created {
    display: none;
}

.unread-dot {
    color: #0b57d0;
    margin-right: 10px;
}

.mail-from {
    font-weight: bold;
    flex-shrink: 0;
    width: 220px;
    padding-right: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-btn {
    display: none;
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.delete-btn:focus,
.delete-btn:hover {
    background-color: #e0e0e0;
    outline: none;
}

.unread-btn {
    display: none;
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

}

.unread-btn:focus,
.unread-btn:hover {
    background-color: #e0e0e0;
    outline: none;
}