.search-input {
  border-radius: 10px;
  text-align: center;
  background-color: #e9eef6;
  border: none;
  height: 2.5rem;
  width: 30rem;
  border-radius: 22px;
}

.filter-isRead {
  width: 12px;
  height: 20px;
}

.search-bar-container {
  display: flex;
  position: absolute;
  left: 19rem;
  bottom: 36rem;
  z-index: 1;
}

.isread-filter {
  position: absolute;
  top: 4rem;
  right: 42rem;
}

.search-icon {
  position: relative;
  left: 3.2rem;
  top: 0.5rem;
}