.search-input {
  border-radius: 10px;
  text-align: center;
  background-color: #e9eef6;
  border: none;
  height: 2.5rem;
  width: 30rem;
  border-radius: 22px;
}

.filter-isRead {
  width: 12px;
  height: 20px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.isread-filter {
  position: relative;
  max-width: 5rem;
  border: none;
  top: -1.5rem;
  left: -34rem;
}

.search-container svg {
  position: relative;
  left: 3.5rem;
  top: 0.5rem;
}


.search-bar {
  position: relative;
  bottom: 5.4rem;
  left: 6rem;
}