body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.mail {
    display: grid;
    grid-template-columns: 20px 150px minmax(0, 1fr) auto auto;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dadce0;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mail-inbox {
    display: grid;
    /* grid-template-columns: auto 1fr; */
    grid-template-columns: auto 74rem;
    color: #3c4043;
    overflow: hidden;
}

.mail-main-content {
    background-color: rgb(255 255 255);
    border-radius: 10px;
}

.mail-preview {
    display: grid;
    grid-template-columns: 250px 250px;
    align-items: center;
    gap: 15px;
    /* padding: 15px; */
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    font-weight: bold;
    /* margin: 25px; */

}

.mail-preview .from {
    margin: 0;
}

.mail-preview .subject {
    margin-left: 80px;
}

.mail-preview:hover {
    background-color: #f5f5f5;
}

.side-bar {
    display: grid;
    align-items: baseline;
    text-align: center;
    background-color: rgb(248 250 253);
    width: 10.2rem;
    gap: 1rem;
}

.inbox-link {
    margin-top: 3rem;
}

.inbox-link:hover,
.important-link:hover,
.starred-link:hover,
.sent-link:hover,
.drafts-link:hover {
    background-color: #e0e0e0;
    outline: none;


}

.side-bar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 25px;
    color: black;
    gap: 18px;
}

.side-bar a::before {
    font-size: 20px;
}

.side-bar a::after {
    margin-left: auto;
    font-size: 0.8rem;
    font-weight: 500;
    color: #555;
}

.side-bar a.active {
    background-color: rgb(211 227 253);
    color: black;
    font-weight: bold;
}

.side-bar a.active::before,
.side-bar a.active::after {
    color: white;
}

.mail-filter-container {
    margin-bottom: 2.5rem;
}

.no-emails {
    display: grid;
    position: absolute;
    bottom: 28rem;
}