@media (max-width: 1030px) {
    .search-input {
        width: 15rem;
    }

    .isread-filter {
        right: 27rem;
    }
}

@media (max-width: 800px) {
    .search-input {
        width: 8rem;
    }

    .isread-filter {
        right: 20rem;
    }
}

@media (max-width: 680px) {
    .search-input {
        display: none;
    }

    .isread-filter {
        display: none;
    }

    .search-icon {
        display: none;
    }
}




@media (max-width: 600px) {
    html {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.2em;
        margin: 1em 0.2em;
    }

    .mail-details-container {
        display: flex;
        overflow: hidden;
        background-color: #f8fafd;
    }

    .mail-inbox {
        grid-template-columns: 1fr;
    }

    .mail-list {
        padding: 0 0.2em;
    }

    .mail-list-container {
        height: 100vh;
        margin-top: 5rem;
        overflow-y: auto;
    }

    .mail-preview {
        flex-direction: column;
        align-items: flex-start;
        /* padding: 10px 4px; */
        font-size: 0.95em;
    }

    .mail-main-content h1 {
        display: none;
    }

    .mail-main-content p {
        margin: 0;
        padding: 0;
    }

    .mail-main-content {
        overflow-y: auto;
        grid-auto-rows: max-content;
    }

    .mail-main-content {
        display: grid;
        column-count: 1;
        width: 100%;
        justify-content: center;
    }

    .side-bar {
        display: none;
    }

    .subject {
        margin-left: 0px;
    }

    .search-bar-container {
        display: flex;
        position: absolute;
        bottom: 38.5rem;
        z-index: 1;
    }

    .search-icon {
        position: relative;
        left: 3.5rem;
        top: 0.5rem;
    }

    .search-bar-container {
        display: flex;
        position: absolute;
        bottom: 38.5rem;
        z-index: 1;
    }

    .search-icon {
        position: relative;
        left: 3.5rem;
        top: 0.5rem;
    }

    .isread-filter {
        display: none;
    }

    .mail-created {
        display: none;
    }
}