 .modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.modal-close-button{
  position: absolute;
  top: -20px;
  right: -1rem;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}

.delete-button{
  position: absolute;
  top: -200%;
  right: -1rem;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}


.color-modal-container {
  position: absolute;
  bottom: 0px; /* Appears just below the note */
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  z-index: 1000;
}

.color-modal {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
}

.color-modal:focus{
  display: block;
}


.color-modal-container.show {
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}


.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgb(152, 150, 150);
  transition: border 0.2s ease;
}

.circle:hover {
  border-color: #555;
}

.open{
  display: block;
}