 /* note index */
 :root {
    --bg1: #f8fafd; /* MAIN */ 
    --bg2: rgb(50, 160, 204);

    --color1: rgb(247 202 76); /* STARRED, LABALED */ 
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;
}

.add-note-container{
    position:relative;
    width: 60%;
    min-width: 400px;
    max-width: 700px;
    margin: 32px auto 50px auto;
    background: #fff;
    padding: 10px 10px;
    padding-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
}

.add-note-container input{
    width: 90%;
    padding: 4px 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    border: none;
    font-size: 1rem;
    outline: none;
    resize: none;
}

.add-note-container textarea{
    width: 90%;
    border: none;
    
    padding: 4px 8px;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    resize: none;
}

.add-note-container textarea,input{
    margin-left: 20px;
}


.delete-button{
    position:relative;
    float: right;
    color: orange;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

