.app-header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    background: var(--bg1);
    margin-bottom: 2rem;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

.header-logo {
    width: 50px;
    object-fit: contain;
}